@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext");
.basic-border {
  border: 1px solid black;
}

.filler-box {
  height: 100vh;
  width: 100%;
}

.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-image: url("/images/common/QPcLem.jpg");
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-size: cover;
  background-color: #6beadf;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: block;
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

header a {
  text-decoration: none;
  color: black;
}

header #nav_Reveal::after {
  display: none;
  content: 'true';
}

header .headerTitle {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  margin: 0 auto;
  padding: 10rem 0 0 0;
  text-align: center;
}

header .headerSlogan {
  font-size: 1.45rem;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header .menu {
  position: relative;
  top: 0;
  left: 0;
  background-color: #262626;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999;
}

header .menu span {
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu span::before {
  content: '';
  position: absolute;
  top: -8px;
  background-color: #fff;
  height: 3px;
  width: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu span::after {
  content: '';
  position: absolute;
  top: 8px;
  background-color: #fff;
  height: 3px;
  width: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu.active span {
  background-color: transparent;
}

header .menu.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

header .menu.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

header .navbar-menu {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header .navbar-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar-menu .menu-listing {
  padding: 0;
  margin: 0;
  text-align: right;
}

header .navbar-menu .menu-listing li {
  display: inline-block;
}

header .navbar-menu .menu-listing li a {
  background-color: #fff;
  color: #262626;
  display: block;
  font-size: 1rem;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar-menu .menu-listing li a:hover, header .navbar-menu .menu-listing li a.active {
  background-color: #262626;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  header {
    height: 40vh;
  }
  header .headerTitle {
    font-size: 4.5rem;
    padding: 6rem 0 0 0;
  }
  header #nav_Reveal::after {
    display: none;
    content: 'false';
  }
  header .navbar-menu {
    height: auto;
    z-index: 1;
  }
  header .navbar-menu .menu-listing {
    text-align: center;
  }
  header .navbar-menu .menu-listing li {
    display: block;
  }
}

@media only screen and (max-width: 558px) {
  header {
    height: 30vh;
  }
  header .headerTitle {
    font-size: 3.5rem;
    padding: 0.7rem 0 0 0;
  }
  header #nav_Reveal::after {
    display: none;
    content: 'false';
  }
}

footer {
  height: 20vh;
  width: 100%;
}

.grid {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0 0.5rem;
}

.grid .grid-favorites {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  grid-row: 1/span auto;
  background-color: #fff;
  width: 100%;
  padding: 1rem 2rem;
}

.grid .grid-favorites .favorite-item {
  width: inherit;
  height: 10.2vh;
  margin-top: 0.5rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.grid .grid-favorites .favorite-item a {
  text-decoration: none;
  color: black;
}

.grid .grid-favorites .favorite-item img {
  display: inline-block;
  width: 8vw;
  height: 100%;
}

.grid .grid-favorites .favorite-item p {
  display: inline-block;
  margin: 2rem 0;
  padding: 1rem;
  position: relative;
  top: -4.5vh;
  vertical-align: baseline;
}

.grid .grid-favorites .favorite-item p.right {
  float: right;
  position: relative;
  top: 0.3vh;
  padding: 0 1.3rem 0 0;
  text-align: right;
}

.grid .grid-content {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4/10;
  padding: 1rem 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1200px) {
  .grid .grid-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .grid .grid-favorites {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
  }
}

@media only screen and (max-width: 1000px) {
  .grid .grid-favorites {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .grid .grid-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    grid-row: auto;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .grid .grid-favorites {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .grid .grid-favorites .favorite-item img {
    width: 20vw;
  }
  .grid .grid-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    grid-row: auto;
  }
}

@media only screen and (max-width: 558px) {
  .grid {
    margin: 0;
  }
  .grid .grid-favorites {
    grid-row: auto;
  }
  .grid .grid-favorites .favorite-item p.right {
    margin: 0;
    position: relative;
    right: 2vw;
    top: 3vh;
    padding: 0;
  }
  .grid .grid-content {
    border: none;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}

#search-form {
  background-color: white;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(20px, auto);
      grid-template-areas: "title title title title title title title title title title title title" "date-range date-range date-range date-range date-range activities activities activities comfort-box comfort-box comfort-box comfort-box" "destinations destinations destinations destinations destinations price-range price-range price-range price-range price-range search search";
}

#search-form .form-item {
  padding: 0.6rem 0.8rem;
}

#search-form .label {
  font-weight: 700;
}

#search-form #search-title-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: title;
  text-align: center;
  margin: 0;
}

#search-form #search-title-box h1 {
  font-size: 1.7rem;
  font-weight: 700;
}

#search-form #search-destinations-select {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: destinations;
}

#search-form #search-comfort-level-box {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: comfort-box;
}

#search-form #search-activities-box {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: activities;
}

#search-form #search-dates-box {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: date-range;
}

#search-form #search-dates-box input[type="text"] {
  padding: 5px;
  width: 10rem;
}

#search-form #search-price-box {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: price-range;
}

#search-form #search-btn-box {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: search;
  padding-top: 3rem;
}

#search-form #amount {
  border: 0;
  color: #f6931f;
  font-weight: bold;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  #search-form {
        grid-template-areas: "title title title title title title title title title title title title"  "date-range date-range date-range date-range date-range date-range date-range activities activities activities activities activities" ". destinations destinations destinations destinations destinations comfort-box comfort-box comfort-box comfort-box comfort-box comfort-box" ". . price-range price-range price-range price-range price-range price-range search search . .";
    text-align: center;
  }
  #search-form #search-activities-box div, #search-form #search-destinations-select div {
    text-align: left;
  }
}

@media only screen and (max-width: 558px) {
  #search-form {
        grid-template-areas: "title title title title title title title title title title title title" "date-range date-range date-range date-range date-range date-range date-range date-range date-range date-range date-range date-range" "activities activities activities activities activities activities activities activities activities activities activities activities" "price-range price-range price-range price-range price-range price-range price-range price-range price-range price-range price-range price-range" "destinations destinations destinations destinations destinations destinations destinations destinations destinations destinations destinations destinations" "comfort-box comfort-box comfort-box comfort-box comfort-box comfort-box comfort-box comfort-box comfort-box comfort-box comfort-box comfort-box" "search search search search search search search search search search search search";
    text-align: center;
  }
  #search-form #search-activities-box div, #search-form #search-destinations-select div {
    text-align: left;
  }
}

#search-results {
  margin: 0 auto;
}

#search-results h3 {
  text-align: center;
}

#search-results .search-result-item {
  min-width: 18vw;
  max-width: 48.1%;
  height: 60vh;
  float: left;
  margin: 0.5rem 0.5rem;
  color: black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#search-results .search-result-item:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#search-results .search-result-item .search-result-item-fav-box {
  padding: 1rem 3rem;
}

#search-results .search-result-item img {
  width: 100%;
  height: 30vh;
}

#search-results .search-result-item .search-result-item-content {
  padding: 1rem 1rem 0rem 1rem;
}

#search-results .search-result-item .search-result-item-content p {
  margin-top: 0.5rem;
}

#search-results .search-result-item .search-result-item-content p.important {
  font-weight: 800;
}

#search-results .search-result-item .search-result-item-content p.big-txt {
  font-size: 1.2rem;
}

#search-results .search-result-item a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  #search-results .search-result-item {
    max-width: 47.6%;
    height: 65vh;
    max-height: 67vh;
  }
}

@media only screen and (max-width: 558px) {
  #search-results .search-result-item {
    max-width: 100%;
    height: 70vh;
    max-height: 80vh;
  }
}

#resort-receive h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

#resort-receive #resort_BannerImage {
  text-align: left;
  height: 78vh;
}

#resort-receive #resort_BannerImage img#BigBannerImage {
  height: 55vh;
  width: 100%;
}

#resort-receive #resort_BannerImage #SmallGalleryImages {
  margin-top: 0.25rem;
  text-align: center;
  width: 100%;
  height: 23vh;
  padding-top: 0.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

#resort-receive #resort_BannerImage #SmallGalleryImages .smallBannerClick {
  width: 9vw;
  height: 10vh;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}

#resort-receive #resort_Tabs p {
  text-align: justify;
}

#resort-receive #resort_Tabs iframe {
  width: 100%;
  height: 60vh;
}

#resort-receive section {
  margin-top: 2rem;
}

#resort-receive section p {
  text-align: justify;
}

@media only screen and (max-width: 558px) {
  #resort-receive #resort_BannerImage {
    height: 76vh;
    width: 100%;
    padding-bottom: 0;
  }
  #resort-receive #resort_BannerImage img#BigBannerImage {
    height: 30vh;
    width: 100%;
  }
  #resort-receive #resort_BannerImage #SmallGalleryImages {
    height: 50vh;
  }
  #resort-receive #resort_BannerImage #SmallGalleryImages .smallBannerClick {
    width: 25vw;
  }
}
/*# sourceMappingURL=style.css.map */