@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
.basic-border {
  border: 1px solid black;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  font-size: 1rem;
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: block;
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/common/QPcLem.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #6beadf;
  font-family: 'Oswald', sans-serif;
}

header a {
  text-decoration: none;
  color: black;
}

header .headerTitle {
  font-size: 4.5rem;
  margin: 0 auto;
  text-align: center;
}

header .menu {
  position: relative;
  top: 0;
  left: 0;
  background-color: #262626;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999;
}

header .menu span {
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu span::before {
  content: '';
  position: absolute;
  top: -8px;
  background-color: #fff;
  height: 3px;
  width: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu span::after {
  content: '';
  position: absolute;
  top: 8px;
  background-color: #fff;
  height: 3px;
  width: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu.active span {
  background-color: transparent;
}

header .menu.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

header .menu.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

header .navbar-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar-menu .menu-listing {
  padding: 0;
  margin: 0;
  text-align: right;
}

header .navbar-menu .menu-listing li {
  display: inline-block;
}

header .navbar-menu .menu-listing li a {
  background-color: #fff;
  color: #262626;
  display: block;
  font-size: 1rem;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar-menu .menu-listing li a:hover {
  background-color: #262626;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  header {
    height: 40vh;
  }
  header .navbar-menu {
    height: auto;
    z-index: 1;
  }
  header .navbar-menu .menu-listing {
    text-align: center;
  }
  header .navbar-menu .menu-listing li {
    display: block;
  }
}

@media only screen and (max-width: 558px) {
  header {
    height: 30vh;
  }
}
/*# sourceMappingURL=style.css.map */