$clr-main-bg: white;
$clr-main-txt: black;
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
.basic-border {border: 1px solid black;}
html {scroll-behavior: smooth;}
body {
  width: 100vw;
  max-width: 100%;
  font-size: 1rem;
  margin: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

header {
  display: block;
  height: 60vh; width: 100%; margin: 0; padding: 0;
  background-image: url('../images/common/QPcLem.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(107,234,223,1.0);
  font-family: 'Oswald', sans-serif;
  a {text-decoration: none; color: $clr-main-txt;}
  .headerTitle {
    font-size: 4.5rem;
    margin: 0 auto;
    text-align: center;
  }
  .menu {
    position: relative;
    top: 0;
    left: 0;
    background-color: #262626;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
    span {
      position: absolute;
      height: 3px;
      width: 25px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: 0.3s;
      &::before {
        content: '';
        position: absolute;
        top: -8px;
        background-color: #fff;
        height: 3px;
        width: 25px;
        transition: 0.3s;
      }
      &::after {
        content: '';
        position: absolute;
        top: 8px;
        background-color: #fff;
        height: 3px;
        width: 25px;
        transition: 0.3s;
      }
    }
    &.active {
      span {
        background-color: transparent;
        &::before {transform: rotate(45deg);top: 0;}
        &::after {transform: rotate(-45deg);top: 0;}
      }
    }
  }
  .navbar-menu {
    width: 100%; margin: 0; padding: 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transform: translateX(-100%);
    transition: 0.5s;
    &.active {transform: translateX(0);transition: 0.5s;}
    .menu-listing {
      padding: 0;margin: 0;text-align: right;
      li {
        display: inline-block;
        a {
          background-color: #fff;
          color: #262626;
          display: block;
          font-size: 1rem;
          height: 50px;
          line-height: 50px;
          padding: 0 20px;
          letter-spacing: 1px;
          text-decoration: none;
          transition: 0.5s;
          &:hover {
            background-color: #262626;color: #fff;transition: 0.5s;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    height: 40vh;
    .navbar-menu {
      height: auto;z-index: 1;
      .menu-listing {
        text-align: center;
        li {display: block;}
      } 
    }
  }
  @media only screen and (max-width: 558px) {
    height: 30vh;
  }
}